<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Contro_unity.Properties.Settings.ConexionBD" connectionString="Data Source=DESKTOP-S7URQ0I\SQLEXPRESS;Initial Catalog=control_unity;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Contro_unity.Properties.Settings.control_unityConnectionString"
            connectionString="Data Source=DELL-PC\CONTROLSYSTEM;Initial Catalog=control_unity;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Contro_unity.Properties.Settings.control_unityConnectionString1"
            connectionString="Data Source=JAIVER\SQLEXPRESS;Initial Catalog=control_unity;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>